{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row text-center">
        <h1 class="h3 m-4">Rozpocznij egzamin</h1>
        <a href="{{ path('exam') }}" class="btn btn-primary btn-lg">Start</a>
    </div>
</div>
{% endblock %}
